/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 17.01.2026, 20:28:45
    Author     : david
*/
.intro {
  background-color: yellow;
  text-align-all: center;
  font-size: 20px;
}
